.container {
    background-image: url(../heroSection/images/nav.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;

    .overlay {
        background-color: rgba(0, 0, 0, 0.7);
        min-height: 100vh;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .overlay_nav {
        background-color: rgba(0, 0, 0, 0.3);
        min-height: 12%;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 1200px;
        margin-inline: auto;
        color: white;
        position: relative;

        .home {
            display: flex;
            gap: 50px;
            margin-top: 30px;

            .burger,
            .close,
            .menu {
                display: none;
            }

            .bookshop {
                display: flex;
                gap: 10px;
            }

            .warm {
                color: rgba(234, 164, 81, 1);
            }
        }

        .buttons {
            text-align: end;
            margin-top: 30px;
            display: flex;
            gap: 5px;
            justify-content: end;

            .btn1 {
                background-color: rgba(217, 23, 108, 1);
                color: white;
                width: 15%;
                height: 30px;
                border-radius: 8px;
                cursor: pointer;
            }

            .btn2 {
                background-color: rgba(255, 255, 255, 1) !important;
                border: 1px solid rgba(217, 23, 108, 1);
                color: rgba(217, 23, 108, 1);
                width: 15%;
                height: 30px;
                border-radius: 8px;
                cursor: pointer;
            }
        }
    }

    .two {
        margin-top: 300px;
        max-width: 1200px;
        margin-inline: auto;
        display: flex;
        justify-content: center;
        position: relative;

        .search {
            input {
                min-height: 35px;
                border-radius: 50px 0px 0px 50px;
                padding: 10px;
            }
        }

        button {
            background-color: rgba(217, 23, 108, 1);
            border-radius: 0px 50px 50px 0px;
            width: 4.5%;
            cursor: pointer;
        }
    }
}

/* media quary */
@media screen and (max-width: 1024px) {

    .overlay_nav {
        min-height: 10% !important;
    }

    .nav {
        max-width: 905px !important;
        margin-inline: auto !important;
    }
}

@media screen and (max-width: 768px) {

    .overlay_nav {
        min-height: 12% !important;
    }

    .nav {
        max-width: 600px !important;
        margin-inline: auto !important;

        .home {

            .none,
            .warm {
                display: none;
            }

            .burger {
                display: block !important;
                width: 20%;
                margin-top: -6px;
            }
        }

        .buttons {
            .btn1 {
                width: 30% !important;
            }

            .btn2 {
                width: 30% !important;
            }
        }

        .menu {
            display: block !important;
            position: absolute;
            top: 60px;
            right: 0;
            width: 100%;
            background: #111;
            display: flex;
            padding: 10px;
            visibility: hidden;

            li {
                margin-left: 50px;
            }
        }

        .active {
            visibility: visible;
            opacity: 1;
            pointer-events: auto;
        }
    }

    .two {
        margin-top: 250px !important;

        button {
            width: 8% !important;
        }

    }
}

@media screen and (max-width: 430px) {
    .nav {
        margin-right: 20px !important;
        margin-left: 20px !important;

        .burger {
            width: 60% !important;
        }
    }

    .two {
        button {
            width: 10% !important;
        }
    }
}

@media screen and (max-width: 380px) {
    .nav {
        .burger {
            min-width: 30px !important;
            margin-left: -30px;
        }

        .buttons {
            margin-left: -30px !important;
            margin-top: 22px !important;

            button {
                width: 100%;
                padding: 1px;
            }
        }
    }

    .two {
        button {
            width: 15% !important;
        }
    }
}

@media screen and (max-width: 330px) {
    .nav {
        .burger {
            min-width: 30px !important;
            margin-left: -45px !important;
        }

        .buttons {
            margin-top: 22px !important;

            .btn1 {
                width: 40% !important;
            }

            .btn2 {
                width: 40% !important;
            }
        }
    }
}