h2 {
    margin-bottom: 50px;
    max-width: 1200px;
    margin-inline: auto;
}

.recommended {
    .book {
        display: flex;
        gap: 30px;
        background-color: #f2f2f2;
        padding: 40px;

        h4 {
            margin-bottom: 10px;
            font-size: 22px;
        }

        h5 {
            margin-bottom: 10px;
        }

        p {
            margin-bottom: 10px;
        }

        h5 span {
            color: rgba(34, 34, 34, 0.5);
        }

        .rate {
            display: grid;
            grid-template-columns: 1fr 1fr;

            .price {
                text-align: end;
                font-size: 30px;
            }
        }

        .buttons {
            display: grid;
            grid-template-columns: 3fr .6fr;
            min-height: 15%;
            gap: 10px;

            .addToCard {
                background-color: rgba(217, 23, 108, 1);
                border-radius: 8px;
                color: #f2f2f2;
                text-align: center;
                padding-top: 1px;
                cursor: pointer;

                p {
                    margin-top: 8px;
                }
            }

            .addToCard.active {
                background-color: rgb(194, 33, 33);
            }

            .fav {
                border: 3px solid rgba(217, 23, 108, 1);
                border-radius: 8px;
                text-align: center;
                cursor: pointer;

                img {
                    width: 50%;
                    padding-top: 7px;
                }
            }
        }
    }

}

/* media query */

@media screen and (min-width: 320px) {
    h2 {
        margin-right: 10px !important;
        margin-left: 20px !important;
    }

    .recommended {
        .book {
            display: grid;
            grid-template-columns: 1fr;
            padding: 16px;

            .image {
                text-align: center;
            }
        }

        .buttons {
            .fav {
                img {
                    width: 100%;
                    margin-top: 2px;
                }
            }
        }
    }
}

@media screen and (min-width: 425px) {
    .recommended {
        .book {
            .addToCard {
                margin-top: 10px;
            }

            .fav {
                margin-top: 10px;

                img {
                    width: 40% !important;
                    margin-top: -1px !important;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    h2 {
        max-width: 600px !important;
        margin-inline: auto !important;
    }

    .recommended {
        .book {
            .fav {
                img {
                    width: 50% !important;
                    margin-top: 0px !important;
                }

            }
        }
    }
}

@media screen and (min-width: 1024px) {
    h2 {
        max-width: 905px !important;
        margin-inline: auto !important;
    }

    .addToCard {
        p {
            margin-top: 12px !important;
        }
    }

    .recommended .book .fav {
        img {
            width: 40% !important;
        }
    }
}

@media screen and (min-width: 1024px) {
    h2 {
        max-width: 1200px !important;
        margin-inline: auto !important;
    }

    .book {
        padding: 40px !important;
        display: grid !important;
        /* grid-template-columns: 1fr 1fr !important; */
    }

    .image {
        text-align: left !important;
    }

    .recommended .book .fav {
        img {
            width: 45% !important;
        }
    }
}

@media screen and (min-width: 1024px) {
    .book {
        display: grid;
        grid-template-columns: 1fr 1fr !important;
    }

    .recommended .book .fav {
        img {
            width: 65% !important;
        }
    }
}